
.registro-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #ffffff, #ffffff);
  font-family: 'Poppins', sans-serif;
}

.registro-card {
  background: #ffffff;
  padding: 40px 35px;
  border-radius: 20px;
  width: 100%;
  max-width: 420px;
  box-shadow: 0 15px 40px rgba(128, 0, 32, 0.25);
  text-align: center;
  animation: fadeIn 0.7s ease;
}


.registro-card h2 {
  font-size: 28px;
  margin-bottom: 25px;
  color: #800020;
  font-weight: 600;
}

.form-control {
  width: 100%;
  margin-bottom: 18px;
  padding: 14px;
  border-radius: 12px;
  border: 1px solid #ddd;
  font-size: 14px;
  transition: all 0.3s ease;
}


.form-control:focus {
  border-color: #800020;
  box-shadow: 0 0 10px rgba(128, 0, 32, 0.3);
  outline: none;
}


.btn-registro {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(135deg, #800020, #5c0017);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-registro:hover {
  transform: translateY(-2px) scale(1.03);
  box-shadow: 0 10px 20px rgba(128, 0, 32, 0.4);
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}