.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 15px 50px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #800020;
}

.nav-links a {
  margin: 0 15px;
  text-decoration: none;
  color: #444;
  font-weight: 500;
  position: relative;
}

.nav-links a::after {
  content: '';
  width: 0;
  height: 2px;
  background: #800020;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

.btn {
  padding: 8px 15px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-weight: 500;
}

.login {
  border: 2px solid #800020;
  background: transparent;
  color: #800020;
}

.register, .logout {
  background: #800020;
  color: white;
}

.user-name {
  margin-right: 10px;
  font-weight: 500;
}