<nav class="navbar">

  <div class="logo">UTS Becas</div>

  <div class="nav-links">

    <a routerLink="/portada">Inicio</a>

    <ng-container *ngIf="usuario && !esAdmin">
      <a routerLink="/convocatorias">Convocatorias</a>
      <a routerLink="/mis-solicitudes">Mis solicitudes</a>
    </ng-container>

    <ng-container *ngIf="usuario && esAdmin">
      <a routerLink="/admin/convocatorias">Convocatorias</a>
      <a routerLink="/admin/estudiantes">Estudiantes</a>
      <a routerLink="/admin/solicitudes">Solicitudes</a>
      <a routerLink="/admin/reportes">Reportes</a>
    </ng-container>

  </div>

  <div class="nav-actions">

    <ng-container *ngIf="!usuario">
      <button routerLink="/login" class="btn login">Login</button>
      <button routerLink="/registro" class="btn register">Registro</button>
    </ng-container>

    <ng-container *ngIf="usuario">
      <span class="user-name"> {{ usuario.nombre }}</span>
      <button (click)="logout()" class="btn logout">Cerrar sesión</button>
    </ng-container>

  </div>

</nav>