<div class="container">

  <h2>Solicitudes</h2>

  <table>

    <thead>
      <tr>
        <th>Correo</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let item of lista">

        <td>{{ item.sol_CorreoEst }}</td>

        <td>{{ item.sol_Estado }}</td>

        <td>
          Ver
        </td>

      </tr>

      <tr *ngIf="lista.length === 0">
        <td colspan="3">No hay solicitudes</td>
      </tr>

    </tbody>

  </table>

</div>