body {
  background: #f5f5f5;
  font-family: 'Segoe UI', sans-serif;
}

.card {
  border-radius: 15px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.02);
}

.btn-main {
  background-color: #63112b;
  color: white;
  font-weight: bold;
}

.btn-main:hover {
  background-color: #4a0d20;
}