.container {
  padding: 20px;
}

h2 {
  color: #800020;
  margin-bottom: 15px;
}


.form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.form input {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.form button {
  background: #800020;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
}


table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th {
  background: #800020;
  color: white;
  padding: 10px;
}

td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background: #f5f5f5;
}


.btn {
  padding: 6px 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  color: white;
}

.eliminar {
  background: #dc3545;
}
